h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.wrapper {
  padding: 70px 150px;
}
::placeholder{
    color:#fff !important;
}


hr {
  margin: 0;
}
.navigation.wrapper {
  padding: 0 150px;
}
.navigation .social {
  margin: 20px 0;
}

.navigation .social .form-control {
  background-color: #000;
  border-radius: 20px;
}
.navigation .social button{
    color:#fff;
    border:none;
  background-color: #0069d9;
  border-radius: 20px;
}
.navigation .social a {
  color: #fff;

  background: #000;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}
.navigation .social a:hover {
  color: #fff;
  background: orange;
  text-decoration: none;
}

.navigation nav {
  padding: 10px 0;
}
.navigation nav .navbar-brand {
  font-size: 30px;
  font-family: serif;
}
.navigation nav .active {
  color: #0069d9 !important;
}
.navigation nav .nav-item {
  margin: 0px 20px;
}
.navigation nav .nav-link {
  font-weight: 500;
}

header {
  position: relative;
}
header.wrapper{
    padding-top: 0;
}
/* header hr{
    width:10%;
    border:none;
    height:0;
    border-top:18px dotted #0069d9; 
    position: absolute;
    bottom:70px;
    right:100px;
} */

header img {
  width: 100%;
}
header .content {
  padding-top: 100px;
  padding-left: 40px;
}

.features h5 {
  color: grey;
  text-align: center;
  padding: 0px 100px;
  font-weight: 400;
}

.features .content img {
  width: 100px;
}

.features h6 {
  color: #0069d9;
}

.features .main-row {
  margin: 40px 0;
}


/* foootter */
.footer {
    background: #000;
    padding-top: 80px;
    padding-bottom: 40px;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer{}
@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}
.single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single_footer ul li{}
.single_footer ul li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
}
.single_footer ul li a:hover { color: orange; }

.single_footer_address{}
.single_footer_address ul{}
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}
.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
}
.subscribe__input {
background-color: #fff;
border: medium none;
border-radius: 5px;
color: #333;
display: block;
font-size: 15px;
font-weight: 500;
height: 60px;
letter-spacing: 0.4px;
margin: 0;
padding: 0 150px 0 20px;
text-align: center;
text-transform: capitalize;
width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}

.subscribe__btn {
background-color: transparent;
border-radius: 0 25px 25px 0;
color: #01c7e9;
cursor: pointer;
display: block;
font-size: 20px;
height: 60px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
    color:orange;
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
    width:40px;
    height:40px;
    line-height:40px;
}
}
.social_profile ul li a:hover{
background:orange;
border: 1px solid orange;
color:#fff;
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color:#fff;
    font-size: 15px;
    border-top: 1px solid rgba(255,255,255,0.4);
    text-align: center;
}
.copyright a{color:#01c7e9;transition: all 0.2s ease 0s;}
.copyright a:hover{color:orange;}